@font-face {
    font-family: ibm;
    src: url(/assests/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-family: ibm-medium;
    src: url(/assests/fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
}

body {
    background-color: black;
}

h1 {
    color: whitesmoke;
    text-decoration: whitesmoke;
    font-family: ibm-medium;
}

p {
    color: #4da6ff;
    text-decoration: #4da6ff;
    font-family: ibm;
}